body{
    background-color: rgb(197, 197, 197);
}

nav a {
    text-decoration: none;
    color: gray;
    padding: 60px;
}
nav a:hover {
    color: black;
}

.left {
    align-items: center;
    display: flex;
}

.right {
    align-items: center;
    display: flex;
}

div :right strong{
    padding: 20px;
}